.left_navbar {
    height: 100vh;
    width: 30vh;
    background-color: #1B233C;
    color: white;
    padding-top: 20px;
}

.links{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 30px;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Segoe UI';
    color: white;
}