.main_window{
    display: flex;
    flex-direction: row;
}

h3{
    font-family: 'Segoe UI';
    font-weight: 500;
    margin-top: 0;
}

.left_navbar {
    height: 100vh;
    width: 30vh;
    background-color: #1B233C;
    color: white;
    padding-top: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 30px;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Segoe UI';
    color: white;
}

.right_tab{
    margin: 30px;
    width: 100vh;
}

.prompt_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prompt{
    height: 30px;
    padding-left: 8px;
}