.navbar {
    background-color: #1B233C;
    height: max-content;
    width: stretch;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: white;
    font-family: 'Segoe UI';
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    margin: 0;
}

p{
    margin:0;
    font-size: 12px;
}

.h_right {
    padding-right: 20px;
    display: flex;
    width: 50%;
    justify-content: flex-end;
    flex-direction: row;
    gap: 30px;
}

.h_left{
    position: relative;
    display: flex;
    width: 50%;
}
.logo{
    width: 50px;
}

.logo_div{
    margin-right: 10px;
    display: flex;
    justify-content: center
}

.school_name{
    font-weight: 300;
}

.dept_name{
    font-weight: 700;
    font-size: 15px;
}

.hyperlink {
    color: white;
    font-family: 'Segoe UI';
    font-size: 13px;
    font-weight: 400;
    margin-left: 20px;
}

.logout_BTN{
    margin-left: 20px;
}
.left_navbar {
    height: 100vh;
    width: 30vh;
    background-color: #1B233C;
    color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right_content{
    width: 100vh;
}

.main_content{
    display: flex;
    flex-direction: row
}
