.header1 {
    background-color: #1B233C;
    height: max-content;
    width: stretch;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: white;
    font-family: 'Segoe UI';
    font-weight: 500;
    display: flex;
}

body{
    margin: 0;
}

p{
    margin:0;
    font-size: 12px;
}

.h_right {
    padding-right: 20px;
    display: flex;
    width: 50%;
    justify-content: flex-end
}

.h_left{
    position: relative;
    display: flex;
    width: 50%;
}
.logo{
    width: 30px;
}

.logo_div{
    margin-right: 10px;
    display: flex;
    justify-content: center
}

.school_name{
    font-weight: 300;
}

.dept_name{
    font-weight: 700;
}

.log_in_out_BTN{
    
}